body {
	background-image: url("https://images.unsplash.com/photo-1567427013232-7ea7d086ad16?crop=entropy&fit=crop&w=1920&h=1080&q=80");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

.card {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 15px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
}

.ant-btn-primary {
	background-color: #1890ff;
	border-color: #1890ff;
	font-size: 16px;
}

.ant-btn:hover {
	background-color: #40a9ff;
}

.icon-style {
	font-size: 18px;
	color: #1890ff;
}
